h1{
    font-size: 4.5em;
}
button{
    font-size: 30px;
    width: 140px;
    height: 60px; 
    border-radius: 5px;
}
 body{
    background-image: url(img/1000_h.webp);
    background-size: cover;
     background-repeat: no-repeat; 
    margin: 0px;
    padding: 0px;
}  
#startPause{
    background-color:transparent;
    border-color: rgb(70, 229, 250);
}
#reset{
background-color:transparent;
border-color:rgba(22, 248, 248, 0.938);

}
.container{
    background-color: transparent;
    margin: auto;
    margin-top: 200px;
    width: 400px;
    height: 400px;
}
#controls{
    margin-left:7px;
    width: 310px;
    height: 70px;
   
}
   